
	{% load staticfiles %}

	<!DOCTYPE html>
	<html>

	<head>

	    <meta charset="utf-8">
        <meta name="google-site-verification" content="07nKz_9eSnkTWC2_RBJ7h8fquEowCt-CARKMsnBDvtI" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=iy1t4fmh65feem3ybazqd4vb0hpcwq56q8gpxkvixlhj3dkp"></script>
  		<script>tinymce.init({ selector:'textarea' });</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	    <title>El Moo Punto</title>

        <style>
            .hidden{
                display: none;
            }

            .link:hover{
                cursor: pointer;
            }
            
        </style>

	    <!-- Core CSS - Include with every page -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	</head>

	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">The Moo-Point</a>
          </div>
	  </div>
	</nav>

    <main class="padded">
	            {% block content %}
	            {% endblock %}
    </main>
	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
	    {% block javascript %}
            <script>
            $('.jumbotron').click(function(){
                $(this).children('.hidden').removeClass();
            });
            </script>
	    {% endblock %}

	</body>

	</html>
