{% extends 'base.html' %}

{% block content %}

<div class="container">
<div class="row">

<div class="jumbotron">
  <h1>Hello</h1>
  <p>Here Is a List Of Things You Can Do!!</p>

  <div class="container">
    <ul>
      <li> Enter A Topic To Which Your Article Is Related To. </li>
      <li> All The Articles Will Be Checked For Plagiarism & If Found Guilty The Article Won't Be Considered </li>
      <li> You Cannot Edit the Article Once You POST it</li>
      <li> Last Date To Update Your Article Will Be After Two Weeks From Now!!! </li>
      <li> Try Not To Write Crap Stuffs Cause You ll Be Caught Easily!! </li>
    </ul>

<center>
	<label>Topics</label> <br>
	<i>data science, internet of things, Testing, Recaptcha, Social Engineering Toolkit,<br> Cyber security, Machine Learning / Artificial Intelligence ,Virtual Reality / Augmented Reality </i> <br>
<b>You Can Also Add Your Own Topic Too by choosing Other</b><br>
    <a href="/see" style="text-decoration: underline;">Click Here See All The Articles Posted Till Now</a>
</center>

  </div>

</div>
</div>
</div>


<main class="container">
    <form action="/post/" align="center" method="POST">
    {% csrf_token %}


        <div class="form-group">
          <label for="usr">Name</label>
          <input type="text" class="form-control" id="usr" placeholder="Name" name="name" required>
        </div>

        <div class="form-group">
          <label for="usr">University Seat Number</label>
          <input type="text" class="form-control" id="usr" placeholder="USN" name="usn" required>
        </div>
	
	<div class="form-group">
          <label for="usr">Topic</label>
		<select name="topic">
		  <option value="data-science">Data Science</option>
		  <option value="iot">Internet Of Things</option>	
		  <option value="testing">Testing</option>
		  <option value="recaptcha">Recaptcha</option>
		  <option value="cyber-security">Cyber Security</option>
		  <option value="set">Social Engineering Toolkit</option>
		  <option value="machine-learning">Machine Learning / Artificial Intelligence</option>
		  <option value="vr">Virtual Reality / Augmented Reality </option>
		  <option value="other">Other</option>
		</select>
        </div>
	
	<div class="form-group">
          <label for="usr">Title Of Your Article</label>
          <input type="text" class="form-control" id="usr" placeholder="title" name="title" required>
        </div>

        <div class="form-group">
          <label for="usr">Write Here!!!</label>
          <textarea class="form-control" rows="10" id="comment" name="text"></textarea>
        </div>

        <center><input class="submit_contact" type="submit" value="Submit Article" style="font-family: monospace; color:aliceblue; border:0px solid; background-color: #2276D2; padding: 10px;"></center>

    </form>
</main>

<center> <h5><a href="/logout"> Logout </a></h5></center>

<center><h5>Copyright (c) 2017 Copyright Holder All Rights Reserved.</h5></center>

{% endblock %}
