{% extends 'base.html' %}

{% block content %}

  <a href="/logout" style="float: right; margin-right: 30px;">
    <h4>Logout</h4>
  </a>


<div class="container">
<div class="row">

<div class="jumbotron">
  <h1>Hello</h1>
  <p>Here Is a List Of Things You Can Do!!</p>

  <div class="container">
    <ul>
      <li> Enter A Topic To Which Your Article Is Related To. </li>
      <li> All The Articles Will Be Checked For Plagiarism & If Found Guilty The Article Won't Be Considered </li>
      <li> You Cannot Save The Article Or Edit It Later Even If You Find Any Mistake in it!</li>
      <li> Last Date To Update Your Article Will Be After Two Weeks From Now!!! </li>
      <li> Try Not To Write Crap Stuffs Cause You ll Be Caught Easily!! </li>
      <li> Later This Website Will Be Converted into a Social Media For ISE Students!! So Stay Tuned!! </li>
    </ul>
  </div>

</div>
</div>
</div>

<main class="container">
    <form action="/contactus/" align="center" method="POST">
    {% csrf_token %}


        <div class="form-group">
          <label for="usr">Name & USN</label>
          <input type="text" class="form-control" id="usr" placeholder="Name <SPACE> USN" name="name" required>
        </div>

        <div class="form-group">
          <label for="usr">Title Of Your Article</label>
          <input type="text" class="form-control" id="usr" placeholder="Title" name="title" required>
        </div>

        <div class="form-group">
          <label for="usr">Write Here!!!</label>
          <textarea class="form-control" rows="10" id="comment" name="text"></textarea>
        </div>

        <input class="submit_contact" type="submit" value="Submit Article" style="font-family: monospace; color:aliceblue; border:0px solid; background-color: #2276D2; padding: 10px;">

    </form>
</main>

<center><h5>Copyright (c) 2017 Copyright Holder All Rights Reserved.</h5></center>

{% endblock %}
